# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / Secret
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/

# Logs
logs/
*.log
*.log.*
pids
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Test / Coverage
coverage/
*.lcov

# Temporary
*.tmp
*.bak
*.old
